{% extends "base.html "%} {% load static %} {% block content %}
<link rel="stylesheet" href={% static "css/dept.css" %}>
<section id="cards">
  <div class="container py-2">
    <div class="row pb-4">
      <div class="col-12 text-center">
        <div class="display-3">{{dept}}</div>
      </div>
    </div>
    <!-- cards -->
    <div class="row">

      {% for i in data %}

      <div class="col-lg-4 col-md-6 mb-4 pt-5">
        <div class="card shadow-sm border-0">
          <a href="/profile/{{i.id}}/" style="text-decoration: none;">
            <div class="card-body">
              <div class="user-picture">
                <img src="{{i.pic.url}}" class="shadow-sm rounded-circle" height="130" width="130" />
              </div>
              <div class="user-content">
                <h5 class="text-capitalize user-name">{{i.name}}</h5>

                <div class="small">
                  <i class="fa fa-star{% if i.mainRating < 0.5 %} text-light{% elif i.mainRating >= 0.5 and i.mainRating < 1 %}-half-alt text-warning{% endif %} text-warning"
                    aria-hidden="true"></i>
                  <i class="fa fa-star{% if i.mainRating < 1.5 %} text-light{% elif i.mainRating >= 1.5 and i.mainRating < 2 %}-half-alt text-warning{% endif %} text-warning"
                    aria-hidden="true"></i>
                  <i class="fa fa-star{% if i.mainRating < 2.5 %} text-light{% elif i.mainRating >= 2.5 and i.mainRating < 3 %}-half-alt text-warning{% endif %} text-warning"
                    aria-hidden="true"></i>
                  <i class="fa fa-star{% if i.mainRating < 3.5 %} text-light{% elif i.mainRating >= 3.5 and i.mainRating < 4 %}-half-alt text-warning{% endif %} text-warning"
                    aria-hidden="true"></i>
                  <i class="fa fa-star{% if i.mainRating < 4.5 %} text-light{% elif i.mainRating >= 4.5 and i.mainRating < 5 %}-half-alt text-warning{% endif %} text-warning"
                    aria-hidden="true"></i>

                </div>
                <p class="text-capitalize text-muted small mb-0">
                  Dept- {{i.department}}
                </p>
                <p class="text-capitalize text-muted small mb-0">
                  Post- {{i.post}}
                </p>
                <!-- <p class=" text-capitalize text-muted small  mb-0">Web developer</p> -->
                <!-- <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
                                quia commodi.</p> -->
              </div>
            </div>
          </a>
        </div>
      </div>

      {% endfor %}


    </div>
    <!-- /cards -->
</section>

{% endblock %}