* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to top right, #a1c4fd, #c2e9fd);
    /* background: linear-gradient(to top right, #65dfc9, #6cdbeb); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

.glass {
    /* position: relative; */
    /* position: fixed; */
    /* padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px; */
    background: white;
    /* min-height: 90%; */
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
}

nav {
    background: white;
    /* min-height: 12vh; */
    min-width: 100%;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.products {
    position: relative;
}

.projects ul {
    position: absolute;
    background: white;
    margin-top: 10px;
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.projects a {
    text-decoration: none;
    color: black;
}

.projects li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav button {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.projects li:hover {
    background: #a1c4fd;
    border-radius: 2rem;
}


/* nav button:hover {
    color: rgb(243, 241, 241);
} */

.projects button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.logo {
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    font-size: 20px;
    color: #426696;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a,
.nav-links button {
    text-decoration: none;
    /* letter-spacing: 3px; */
    font-weight: bold;
    font-size: 14px;
    color: #658ec6;
}

.nav-links a:hover,
.nav-links button:hover {
    color: #426696;
}


/* div input{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
} */

.content {
    /* position: absolute; */
    width: 90%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* padding: 25px; */
}

.text-area {
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    /* padding-left: 150px;
    padding-right: 150px; */
}

.image {
    /* margin-right: 40px;
    margin-top: 40px; */
    /* border: 2px solid black; */
    display: flex;
    flex: 1;
    /* height: 60vh; */
    margin-left: 40px;
}

.image img {
    height: 100%;
}

.text {
    margin-right: 1rem;
    margin-bottom: 4rem;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
    text-align: justify;
    color: #658ec6;
    font-weight: 550;
    /* line-height: 26px; */
    font-family: 'Titillium Web', sans-serif;
}

.text p {
    width: 100%;
    height: 100%;
}

.search-bar {
    /* position: absolute; */
    height: 70px;
    width: 100%;
    /* max-width: 700px; */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
    backdrop-filter: blur(4px) satueate(180%);
}

::placeholder {
    color: black;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #658ec6;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

@media screen and (max-width:1100px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:880px) {
    main {
        overflow: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 60vh;
        top: 8vh;
        right: -100px;
        border-radius: 2rem;
        /* background: linear-gradient(to top right, #65dfc9, #6cdbeb); */
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .content {
        flex-direction: column-reverse;
        padding: 10px;
    }
}

@media screen and (max-width:770px) {
    .image img {
        height: 300px;
        width: 300px;
    }
    .text-area .text p {
        font-size: 15px;
        padding: 10px;
    }
}

@media screen and (max-width:1300px) {
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
    }
}

.nav-active {
    transform: translateX(0%);
    right: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}